<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Tenisica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Create Tenisica</h2>
    <form method="POST">
        <div class="form-group">
            <label for="marka">Marka</label>
            <input type="text" class="form-control" id="marka" name="marka">
        </div>
        <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" class="form-control" id="ime" name="ime">
        </div>
        <div class="form-group">
            <label for="materijal">Materijal</label>
            <input type="text" class="form-control" id="materijal" name="materijal">
        </div>
        <div class="form-group">
            <label for="boja">Boja</label>
            <input type="text" class="form-control" id="boja" name="boja">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
